<div class="container mt-5">
  <h2 class="text-center h1 mb-3">Log in</h2>
  <div class="row">
    <div class="col-md-4 offset-4">
      <%= render 'login_form' %>
      <%# <div class="text-center my-3"><span class="text-muted">Don't have an Account?</span>  <%= render "devise/shared/links" %></div>
  </div>
</div>
</div>
