#1.  Menu Bar:Logo,  Home, Politics, Health, Education, Careers, Tech , Login, Register, search
# 1. Home Page
# *****************************************************
# - Registration and login is required using devise
# - A jumbotron with image at the background, the image correspond with the article,
#   with highest number of votes
# - List of all categories in order of priority as appeared on the navbar, Each category, 
# should be displayed as a square with its name on the top and its most recent article's title in the bottom. 
# The background image should be the image of the most recent article in this category.  

# The votes will represent the comments in a blog app.
def create
    if current_user.votes.exists?(article_id: params[:article_id])
      flash[:alert] = 'You have already voted for this article!'
    else
      current_user.votes_count << Article.find(params[:article_id])
      flash[:notice] = 'You upvoted this article.'
    end
    redirect_back(fallback_location: root_path)
  end

  I had to add has_many :votes_count, through: :votes, source: :article
  rails g scaffold Category name:string priority:integer

  <section className="portfolio container-fluid bg-light">
  <div className="container text-center w-50">
    <h2 className="py-3">Portfolio</h2>
    <div className="mx-auto heading-line mt-1 mb-5" />
  </div>
  <div className="row">
    <div className="col-md-3 p-0">
      <div className="filter" />
      <img className="img-fluid" src={system1} alt="Phone" />
    </div>
    {/* align-items-center: aligns items along the y-axis */}
    {/* justify-items-center: aligns/justify items along the x-axis */}
    <div className="col-md-3 dark d-flex align-items-center justify-content-center">
      <div className="text-center">
        <h4 className="py-3">HTML &amp; CSS</h4>
        <Link className="m-2" to="#">
        <i className="fa fa-facebook" />
      </Link>
      <Link className="m-2" to="#">
      <i className="fa fa-twitter" />
    </Link>
    <Link className="m-2" to="#">
    <i className="fa fa-youtube" />
  </Link>
  <Link className="m-2" to="#">
  <i className="fa fa-google" />
</Link>
</div>
</div>
<div className="col-md-3 p-0">
  <div className="filter" />
  <img className="img-fluid" src={system2} alt="Laptop" />
</div>
{/* align-items-center: aligns items along the y-axis */}
{/* justify-items-center: aligns/justify items along the x-axis */}
<div className="col-md-3 dark d-flex align-items-center justify-content-center">
  <div className="text-center">
    <h4 className="py-3">JAVASCRIPT</h4>
    <Link className="m-2" to="#">
    <i className="fa fa-facebook" />
  </Link>
  <Link className="m-2" to="#">
  <i className="fa fa-twitter" />
</Link>
<Link className="m-2" to="#">
<i className="fa fa-youtube" />
</Link>
<Link className="m-2" to="#">
<i className="fa fa-google" />
</Link>
</div>
</div>
<div className="col-md-3 dark d-flex align-items-center justify-content-center">
  <div className="text-center">
    <h4 className="py-3">WEB DEVELOPMENT</h4>
    <Link className="m-2" to="#">
    <i className="fa fa-facebook" />
  </Link>
  <Link className="m-2" to="#">
  <i className="fa fa-twitter" />
</Link>
<Link className="m-2" to="#">
<i className="fa fa-youtube" />
</Link>
<Link className="m-2" to="#">
<i className="fa fa-google" />
</Link>
</div>
</div>
<div className="col-md-3 p-0">
  <div className="filter" />
  <img className="img-fluid" src={system3} alt="Laptop" />
</div>
<div className="col-md-3 dark d-flex align-items-center justify-content-center">
  <div className="text-center">
    <h4 className="py-3">CODE BEAST</h4>
    <Link className="m-2" to="#">
    <i className="fa fa-facebook" />
  </Link>
  <Link className="m-2" to="#">
  <i className="fa fa-twitter" />
</Link>
<Link className="m-2" to="#">
<i className="fa fa-youtube" />
</Link>
<Link className="m-2" to="#">
<i className="fa fa-google" />
</Link>
</div>
</div>
<div className="col-md-3 p-0">
  <div className="filter" />
  <img className="img-fluid" src={system5} alt="Laptop" />
</div>
</div>
</section>