<div class="container">
  <h1 class="main-text-color">Editing Article</h1>
  <%= render 'form', article: @article %>
  <%= link_to 'Show Articles', @article %> |
  <%= link_to 'Back To Articles', articles_path %>
</div>
