<div class="container mt-5 mb-4">
  <h2 class="text-center h1 mb-3">Create an Article</h2>
  <div class="row">
    <div class="col-md-6 offset-3">
      <%= render 'form' %>
    </div>
  </div>
</div>
